<div class="activity-card-info">
  <% minutes = activity.time.to_i.divmod(60) %>
  <% hours = minutes[0].divmod(60) %>
  <% if hours[0] == 0 %>
  <% activity_time = "#{format('%02d', hours[1])}:#{format('%02d', minutes[1])}" %>
  <% else %>
    <% activity_time = "#{hours[0]}:#{format('%02d', hours[1])}:#{format('%02d', minutes[1])}" %>
  <% end %>
  <div class="activity-card-info-picture">
    <%= cl_image_tag activity.photo.key, height:230, width: 230, crop: :fill %>
  </div>
  <div class="activity-card-info-text">
    <div class="text"> Name: <%= activity.name %> </div>
    <div class="text"> Time: <%= activity_time %> </div>
    <div class="text"> Distance: <%= activity.distance %> km </div>
    <div class="text"> Date: <%= activity.date %> </div>
  </div>
</div>
