<%= link_to activity_list_path(@activity_list) do %>
    ALL
<% end %>
<%= link_to activity_list_runnings_path(@activity_list) do %>
  RUNNING
<% end %>
<%= link_to activity_list_winter_sports_path(@activity_list) do %>
  WINTER SPORT
<% end %>
<%= link_to activity_list_cyclings_path(@activity_list) do %>
  CYCLING
<% end %>
<%= link_to activity_list_swimmings_path(@activity_list) do %>
  SWIMMING
<% end %>
<%= link_to activity_list_walkings_path(@activity_list) do %>
  WALKING
<% end %>
<%= simple_form_for [@activity_list, @walking] do |f| %>
  <%= f.input :name, placeholder: "Name", label: false %>
  <div class="d-flex">
    <%= f.input :hours, placeholder: "Hours",label: false %> :
    <%= f.input :minutes, placeholder: "Minutes",label: false %> :
    <%= f.input :seconds, placeholder: "Seconds",label: false %>
  </div>
  <div class="d-flex">
    <%= f.input :distance, placeholder: "Distance", label: false %>  km
  </div>
  <div class="d-flex">
    <%= f.input :max_heart_rate, placeholder: "Maximum heart rate", label: false %> Bpm
  </div>
  <div class="d-flex">
    <%= f.input :avg_heart_rate, placeholder: "Average heart rate", label: false %> Bpm
  </div>
  <div class="d-flex">
   <%= f.input :max_speed, placeholder: "Maximum speed",label: false %> km/h
  </div>
  <div class="d-flex">
   <%= f.input :elevation_gain, placeholder: "Elevation Gain", label: false %> m
  </div>
  <%= f.input :friends, collection: ["Charlotte", "Rodrigue", "Lisa"], label: false %>
  <%= f.input :date %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
