<div class="my-navbar">
  <%= link_to activity_list_path(@activity_list), class:"my-navbar-box" do %>
      ALL
  <% end %>
  <%= link_to activity_list_runnings_path(@activity_list), class:"my-navbar-box" do %>
    RUNNING
  <% end %>
  <%= link_to activity_list_winter_sports_path(@activity_list), class:"my-navbar-box" do %>
    WINTER SPORT
  <% end %>
  <%= link_to activity_list_cyclings_path(@activity_list), class:"my-navbar-box-current" do %>
    CYCLING
  <% end %>
  <%= link_to activity_list_swimmings_path(@activity_list), class:"my-navbar-box" do %>
    SWIMMING
  <% end %>
  <%= link_to activity_list_walkings_path(@activity_list), class:"my-navbar-box" do %>
    WALKING
  <% end %>
  <%= link_to coustom_path(@activity_list), class:"my-navbar-box" do %>
    PROFILE
  <% end %>
</div>
<%= simple_form_for [@activity_list, @cycling] do |f| %>
  <%= f.input :name, placeholder: "Name", label: false %>
  <div class="d-flex">
    <%= f.input :hours, placeholder: "Hours",label: false %> :
    <%= f.input :minutes, placeholder: "Minutes",label: false %> :
    <%= f.input :seconds, placeholder: "Seconds",label: false %>
  </div>
  <div class="d-flex">

    <%= f.input :distance, placeholder: "Distance", label: false %>  km
  </div>
  <div class="d-flex">
    <%= f.input :avg_heart_rate, placeholder: "Average heart rate", label: false %> Bpm
  </div>
  <div class="d-flex">
    <%= f.input :max_heart_rate, placeholder: "Maximum heart rate", label: false %> Bpm
  </div>
  <div class="d-flex">
   <%= f.input :max_speed, placeholder: "Maximum speed",label: false %> km/h
  </div>
  <div class="d-flex">
   <%= f.input :elevation_gain, placeholder: "Elevation gain", label: false %> m
  </div>
  <%= f.input :friends, collection: ["Charlotte", "Rodrigue", "Lisa"], placeholder: "Teammate", label: "Teammate" %>
  <%= f.input :date %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
<div class="my-footer">
  <%= link_to activity_list_path(@activity_list), class:"my-footer-app-name" do %>
    SPORT CALENDAR
  <% end %>
  <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class:"my-footer-log-out" do %>
    LOG OUT
  <% end %>
</div>
