<div class="my-navbar">
  <%= link_to activity_list_path(@activity_list), class:"my-navbar-box" do %>
      ALL
  <% end %>
  <%= link_to activity_list_runnings_path(@activity_list), class:"my-navbar-box" do %>
    RUNNING
  <% end %>
  <%= link_to activity_list_winter_sports_path(@activity_list), class:"my-navbar-box" do %>
    WINTER SPORT
  <% end %>
  <%= link_to activity_list_cyclings_path(@activity_list), class:"my-navbar-box" do %>
    CYCLING
  <% end %>
  <%= link_to activity_list_swimmings_path(@activity_list), class:"my-navbar-box-current" do %>
    SWIMMING
  <% end %>
  <%= link_to activity_list_walkings_path(@activity_list), class:"my-navbar-box" do %>
    WALKING
  <% end %>
  <%= link_to coustom_path(@activity_list), class:"my-navbar-box" do %>
    PROFILE
  <% end %>
</div>
<h1> <%= @swimming.name %> </h1>
<div class="d-flex">
  <div>
    <%= cl_image_tag @swimming.photo.key, height:300, width: 300, crop: :fill %>
  </div>
  <% minutes = @swimming.time.to_i.divmod(60) %>
  <% hours = minutes[0].divmod(60) %>
  <% if hours[0] == 0 %>
    <% activity_time = "#{format('%02d', hours[1])}:#{format('%02d', minutes[1])}" %>
  <% else %>
    <% activity_time = "#{hours[0]}:#{format('%02d', hours[1])}:#{format('%02d', minutes[1])}" %>
  <% end %>
  <% minutes_pace = @swimming.avg_pace.divmod(60) %>
  <% activity_avg_pace = "#{minutes_pace[0]}:#{format('%02d', minutes_pace[1])}" %>
  <div>
    <p> Name: <%= @swimming.name %> </p>
    <p> Time: <%= activity_time %> </p>
    <p> Distance: <%= @swimming.distance %> km </p>
    <p> Ran with <%= @swimming.friends %> on <%= @swimming.date %> </p>
  </div>
  <div>
    <p> Average pace: <%= activity_avg_pace %> /100m </p>
    <p> Average speed: <%= @swimming.avg_speed %> km/h</p>
    <p> Maximum speed: <%= @swimming.max_speed %> km/h </p>
    <p> Average heart rate: <%= @swimming.avg_heart_rate %> Bpm </p>
    <p> Maximum heart rate: <%= @swimming.max_heart_rate %> Bpm </p>
    <p> Total strokes: <%= @swimming.total_strokes %> m </p>
  </div>
</div>
<%= link_to edit_activity_list_swimming_path(@activity_list, @swimming) do %>
  EDIT
<% end %>
<%= link_to activity_list_path(@activity_list) do %>
  go back in time
<% end %>
